.Aqua {
    background-color: #00FFFF;
}
.Chartreuese {
    background-color: #7FFF00;
}
.Crimson {
    background-color: #DC143C;
}
.DarkGoldenRod {
    background-color: #B8860B;	
}
.DarkSalmon {
    background-color: #E9967A;
}
.DarkViolet {
    background-color: #9400D3;
}

.box { 
    height: 100px;
}